.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.01em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.01em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(rgb(224, 224, 224),90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(rgb(31, 31, 31),10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
#XButton{
    -fx-background-color: rgb(37, 37, 37);
    -fx-background-radius:0em;
    -fx-background-image: url('cancel.png');
    -fx-background-size: 14px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
#XButton:hover{
    -fx-background-color: rgb(87, 84, 84);
    
}

#MAXButton{
    -fx-background-color: rgb(37, 37, 37);
    -fx-background-radius:0em;
    -fx-background-image: url('maximize.png');
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}
#MAXButton:hover{
    -fx-background-color: rgb(87, 84, 84);

}
#start{
    -fx-background-color: rgb(37, 37, 37);
    -fx-background-radius:0em;
    
}
#start:hover{
    -fx-background-color: rgb(87, 84, 84);

}
#pause{
    -fx-background-color: rgb(37, 37, 37);
    -fx-background-radius:0em;
    
}
#pause:hover{
    -fx-background-color: rgb(87, 84, 84);

}
#help{
    -fx-background-color: rgb(37, 37, 37);
    -fx-background-radius:0em;
    
}
#help:hover{
    -fx-background-color: rgb(87, 84, 84);

}
#cas{
    -fx-background-color: rgb(116, 116, 116);
}
.button{
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-alignment: CENTER;  
}
#Gridstyle{
    -fx-background-color: #000000;
}
.root{
    -fx-base: rgb(148, 147, 147);
    -fx-background: rgb(116, 116, 116);
}
.text-area{
    -fx-text-fill: black;
}

.top {
    -fx-background: black;
    
}